[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
requests = "*"
alembic = "*"
flask-sqlalchemy = "*"
pymysql = "*"
mysql-connector = "*"
wheel = "*"
mysqlclient = "*"
marshmallow = "*"
flask-restful = "*"
werkzeug = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-jwt = "*"

[dev-packages]

[requires]
python_version = "3.7"
